body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #333;
}

img {
    max-width: 45%;
    height: auto;
    margin : 2%;
}
  
nav ul {
    /* Remove default list styles and create a horizontal list */
    list-style: none;
    display: flex;
}
  
nav li {
    /* Style list items */
    margin: 0 10px;
}
  
nav a {
    /* Style links */
    text-decoration: none;
    color: #333;
}
  