body 
{
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 
{
    color: #333;
}

header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}
  
.logo img 
{
    max-height: 10vh;
    max-width: 10vw;
}

img
{
    max-width: 45%;
    height: auto;
    margin : 2%;
}
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    background-color: #333;
  }
  
  nav ul li {
    margin: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 14px 20px;
    display: flex;
    align-items: center;
  }
  
  nav ul li a:hover {
    background-color: #575757;
  }
  
  .nav-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
